packages/flow-editor/example.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: test
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables:
  - description: ''
    id: 817bcdf9-fcad-4abb-af84-5d5e940f35f7
    name: a
    selector:
    - env
    - a
    value: '1'
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: question-classifier
      id: 1770287399306-source-1770287906038-target
      selected: false
      source: '1770287399306'
      sourceHandle: source
      target: '1770287906038'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: code
      id: 1770287906038-2-1770288354523-target
      selected: false
      source: '1770287906038'
      sourceHandle: '2'
      target: '1770288354523'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1770288354523-source-1770288642065-target
      selected: false
      source: '1770288354523'
      sourceHandle: source
      target: '1770288642065'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: end
      id: 1770288478458-source-1770288637715-target
      selected: false
      source: '1770288478458'
      sourceHandle: source
      target: '1770288637715'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: list-operator
      id: 1770288478458-source-1770371550617-target
      source: '1770288478458'
      sourceHandle: source
      target: '1770371550617'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: list-operator
        targetType: tool
      id: 1770371550617-source-1770372511560-target
      source: '1770371550617'
      sourceHandle: source
      target: '1770372511560'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1770287510157-true-1770373621877-target
      source: '1770287510157'
      sourceHandle: 'true'
      target: '1770373621877'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1770373621877-source-1770288642065-target
      source: '1770373621877'
      sourceHandle: source
      target: '1770288642065'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1770287510157-false-1770373621877-target
      source: '1770287510157'
      sourceHandle: 'false'
      target: '1770373621877'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: a
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: a
        - hint: ''
          label: ccsa
          options:
          - a
          placeholder: ''
          required: true
          type: select
          variable: a_ca
      height: 135
      id: '1770287399306'
      position:
        x: 0
        y: 211.6867540455741
      positionAbsolute:
        x: 0
        y: 211.6867540455741
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions: []
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 100
      id: '1770287510157'
      position:
        x: 322
        y: 0
      positionAbsolute:
        x: 322
        y: 0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: '1'
          name: ''
        - id: '2'
          name: ''
        - id: '1770288601464'
          name: ''
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: ''
          provider: ''
        query_variable_selector: []
        selected: true
        title: 问题分类器
        type: question-classifier
        vision:
          enabled: false
      height: 136
      id: '1770287906038'
      position:
        x: 282.25239803505207
        y: 222
      positionAbsolute:
        x: 282.25239803505207
        y: 222
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\ndef main(arg1: str, arg2: str, a):\n    return {\n        \"result\"\
          : arg1 + arg2,\n    }\n"
        code_language: python3
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector: []
          variable: arg1
        - value_selector: []
          variable: arg2
        - value_selector: ''
          variable: arg3
      height: 52
      id: '1770288354523'
      position:
        x: 684
        y: 222
      positionAbsolute:
        x: 684
        y: 222
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          value: ''
          variable_selector: []
          write_mode: over-write
        selected: false
        title: 变量赋值
        type: assigner
        version: '2'
      height: 84
      id: '1770288478458'
      position:
        x: 0
        y: 394
      positionAbsolute:
        x: 0
        y: 394
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs: []
        selected: false
        title: 输出
        type: end
      height: 52
      id: '1770288637715'
      position:
        x: 322
        y: 388.4457054986848
      positionAbsolute:
        x: 322
        y: 388.4457054986848
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs: []
        selected: false
        title: 输出 2
        type: end
      height: 52
      id: '1770288642065'
      position:
        x: 1046
        y: 213
      positionAbsolute:
        x: 1046
        y: 213
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        extract_by:
          enabled: false
          serial: '1'
        filter_by:
          conditions:
          - comparison_operator: '='
            key: ''
            value: ''
          enabled: true
        limit:
          enabled: false
          size: 10
        order_by:
          enabled: false
          key: ''
          value: asc
        selected: false
        title: 列表操作
        type: list-operator
        variable: []
      height: 52
      id: '1770371550617'
      position:
        x: 362
        y: 528
      positionAbsolute:
        x: 362
        y: 528
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: used for linking to webpages
            ja_JP: used for linking to webpages
            pt_BR: used for linking to webpages
            zh_Hans: 用于链接到网页
          label:
            en_US: URL
            ja_JP: URL
            pt_BR: URL
            zh_Hans: 网页链接
          llm_description: url for scraping
          max: null
          min: null
          name: url
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML,
            like Gecko) Chrome/100.0.1000.0 Safari/537.36
          form: form
          human_description:
            en_US: used for identifying the browser.
            ja_JP: used for identifying the browser.
            pt_BR: used for identifying the browser.
            zh_Hans: 用于识别浏览器。
          label:
            en_US: User Agent
            ja_JP: User Agent
            pt_BR: User Agent
            zh_Hans: User Agent
          llm_description: null
          max: null
          min: null
          name: user_agent
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: 'false'
          form: form
          human_description:
            en_US: If true, the crawler will only return the page summary content.
            ja_JP: If true, the crawler will only return the page summary content.
            pt_BR: If true, the crawler will only return the page summary content.
            zh_Hans: 如果启用，爬虫将仅返回页面摘要内容。
          label:
            en_US: Whether to generate summary
            ja_JP: Whether to generate summary
            pt_BR: Whether to generate summary
            zh_Hans: 是否生成摘要
          llm_description: null
          max: null
          min: null
          name: generate_summary
          options:
          - icon: null
            label:
              en_US: 'Yes'
              ja_JP: 'Yes'
              pt_BR: 'Yes'
              zh_Hans: 是
            value: 'true'
          - icon: null
            label:
              en_US: 'No'
              ja_JP: 'No'
              pt_BR: 'No'
              zh_Hans: 否
            value: 'false'
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        params:
          generate_summary: ''
          url: ''
          user_agent: ''
        plugin_id: null
        plugin_unique_identifier: ''
        provider_icon: https://cloud.dify.ai/console/api/workspaces/current/tool-provider/builtin/webscraper/icon
        provider_id: webscraper
        provider_name: webscraper
        provider_type: builtin
        selected: false
        title: 网页爬虫
        tool_configurations:
          generate_summary:
            type: constant
            value: 'false'
          user_agent:
            type: mixed
            value: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML,
              like Gecko) Chrome/100.0.1000.0 Safari/537.36
        tool_description: 一个用于爬取网页的工具。
        tool_label: 网页爬虫
        tool_name: webscraper
        tool_node_version: '2'
        tool_parameters:
          url:
            type: mixed
            value: null
        type: tool
      height: 114
      id: '1770372511560'
      position:
        x: 704
        y: 497
      positionAbsolute:
        x: 704
        y: 497
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: ''
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 52
      id: '1770373621877'
      position:
        x: 684
        y: 45
      positionAbsolute:
        x: 684
        y: 45
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        author: Dify
        desc: ''
        height: 224
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":1,"mode":"normal","style":"","text":"qdadsa","type":"text","version":1}],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":1,"textStyle":""}],"direction":null,"format":"","indent":0,"type":"root","version":1,"textFormat":1}}'
        theme: blue
        title: ''
        type: ''
        width: 328
      height: 224
      id: '1770374107307'
      position:
        x: -110.47899417163148
        y: 582.9850154947502
      positionAbsolute:
        x: -110.47899417163148
        y: 582.9850154947502
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 328
    viewport:
      x: 42.48410542488193
      y: -252.26476972879203
      zoom: 1.4561253864387769
  rag_pipeline_variables: []
